
#logo{width: 80px; height:80px}
.spacer {margin-top:150px}
.highlight{background-color: lightgreen}
.highlightFrame{background-color: lightblue;}
.hidden {visibility: hidden;}
.bonusColor{background-color: greenyellow;}
#scheduledGamesTable{
    height: 540px;
    box-sizing:border-box;
}
thead{
    box-sizing: border-box;
    
}
th {
    position:sticky;
    top: -1px;
}
#gameFrames td{border: black thin solid;}

#ballScore{
    width: 40px;
}
 #gameFrames td, #frameScores td{
    width: 80px;
    height: 29px;
    font-size: 20px;
        padding:12px;
}
#fLabel{
    margin-left: -100px;
    margin-top: 15px
}
