
#logo{width: 80px; height:80px}
.spacer {margin-top:150px}
.highlight{background-color: lightgreen}
.highlightFrame{background-color: lightblue;}
.hidden {visibility: hidden;}
.bonusColor{background-color: greenyellow;}
/*body{
    background-image: url("bgIMG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}*/
body{
    margin: 0;
    background-image: url("bgIMG.jpg");
    color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#mtable{
    background-color: #606060;
    color: whitesmoke;
}
#scheduledGamesTable{
    height: 540px;
    box-sizing:border-box;
}
thead{
    box-sizing: border-box;

}
th {
    position:sticky;
    top: -1px;
}
#gameFrames td{border: black thin solid;}

#ballScore{
    width: 40px;
}
#gameFrames td, #frameScores td{
    width: 80px;
    height: 29px;
    font-size: 20px;
    padding:12px;
}
#fLabel{
    margin-left: -100px;
    margin-top: 15px
}
.highlighted{
    background-color: black;
}
.aManage_btn {
    background-color: black;
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 20%;
    text-align: center;
}
.createTeam{
    padding: 15px;
    margin-top: 100px;
    margin-left: 25.33%;
    margin-bottom: 50px;
    width: 50%;
    border: 2px solid black;
    background-color: #606060;
    color: whitesmoke;
}
.createPlayer{
    padding: 15px;
    margin-top: 100px;
    margin-left: 25.33%;
    width: 50%;
    border: 2px solid black;
}
.editTeam{
    margin: 20px;
    border: 1px solid black;
    padding: 15px;
}
.tempD{
    background-color: #211a23;
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 20%;
    text-align: center;
}
.a_btnCT{
    background-color: black;
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    float: left;
}
#a_btnCT{
    background-color: black;
    color: whitesmoke;
    line-height: 40px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    float: left;
    margin-bottom: 20px;
}
#mAT{
    float: left;
    width: 75%;
    margin-top: 10px;
}

.createTeam form{
    margin-bottom: 70px;
}
h4{
    color: black;
}
.editTeam label{
    color: black;
}
#addBtn{
    background-color: black;
    color: whitesmoke;
    line-height: 40px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    float: left;
    margin-bottom: 20px;
}
.createPlayer{
    background-color: #606060;
    color: whitesmoke;
    padding-bottom: 70px;
}
#table1{
   overflow-y:scroll;
   height:400px;
   display:block;
}
