/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Nov-2020, 2:26:31 PM
    Author     : ZBook
*/

body { font-family:Century Gothic;
  background-color: lightgray;
}
h1{color:white; text-align:center;}
h2 {
  color: white;
  text-align: center;
}
#theContain{align-content: center; margin-left: 30%;}
p {
  font-family: verdana;
  font-size: 20px;
}
span{color:white; margin-left: 100px;}
 .pic{float: left; border-radius: 10px;}